@{

    ViewData["Title"] = "Map View";

    bool[] showimg = new bool[50];
    bool indv = Convert.ToBoolean(ViewData["indv"]);
    int curr = Convert.ToInt32(ViewData["curr"]);

    if(curr > 47)
    {
        curr = 99;

    }


    for (int i = 0; i < 50; i++)
    {
        showimg[i] = Convert.ToBoolean(ViewData[i.ToString()]);
    }

    string[] imgname = new string[100];

    imgname[0] = "/images/1-eb466664-61c2-11e7-a8e6-876b73c3292d.png";
    imgname[1] = "/images/2-eb467672-61c2-11e7-a8e7-bfbec3058f18.png";
    imgname[2] = "/images/3-eb467b68-61c2-11e7-a8e8-bf5dcee8f5a4.png";
    imgname[3] = "/images/4-eb468036-61c2-11e7-a8e9-8fa59b75eeab.png";
    imgname[4] = "/images/5-eb4683ce-61c2-11e7-a8ea-2fb6e98c9f95.png";
    imgname[5] = "/images/6-eb4689c8-61c2-11e7-a8eb-b7408fd42ab8.png";
    imgname[6] = "/images/7-eb468e50-61c2-11e7-a8ec-1f2ea9f0ab82.png";
    imgname[7] = "/images/8-eb46929c-61c2-11e7-a8ed-8b3acc903f02.png";
    imgname[8] = "/images/9-eb469634-61c2-11e7-a8ee-c739d63aed77.png";
    imgname[9] = "/images/10-eb469e40-61c2-11e7-a8ef-aff04cd092f4.png";
    imgname[10] = "/images/11-eb46ccc6-61c2-11e7-a8f0-2ba14a609735.png";
    imgname[11] = "/images/12-eb46e54e-61c2-11e7-a8f1-ffed42a32cd8.png";
    imgname[12] = "/images/13-eb473be8-61c2-11e7-a8f2-97169bffdcdc.png";
    imgname[13] = "/images/14-eb4757ea-61c2-11e7-a8f3-a758b83c2fd9.png";
    imgname[14] = "/images/15-eb476f3c-61c2-11e7-a8f4-0bc4085c363a.png";
    imgname[15] = "/images/16-eb478346-61c2-11e7-a8f5-9be54b52f15a.png";
    imgname[16] = "/images/17-eb479746-61c2-11e7-a8f6-1b0d93caff33.png";
    imgname[17] = "/images/18-eb47a9b6-61c2-11e7-a8f7-9f3b1ad0a5a8.png";
    imgname[18] = "/images/19-eb48481c-61c2-11e7-a8f8-6f45fa8c1975.png";
    imgname[19] = "/images/20-eb48689c-61c2-11e7-a8f9-539d89786ce3.png";
    imgname[20] = "/images/21-eb4883fe-61c2-11e7-a8fa-afd62b20ce4e.png";
    imgname[21] = "/images/22-eb489934-61c2-11e7-a8fb-5bfa98429be6.png";
    imgname[22] = "/images/23-eb48afbe-61c2-11e7-a8fc-afcec996e426.png";
    imgname[23] = "/images/24-eb48c526-61c2-11e7-a8fd-83245fd2c36f.png";
    imgname[24] = "/images/25-eb48dc0a-61c2-11e7-a8fe-cb747a657a8b.png";
    imgname[25] = "/images/26-eb48f1f4-61c2-11e7-a8ff-43cc47b01ac5.png";
    imgname[26] = "/images/27-eb4908e2-61c2-11e7-a900-637b158b5adf.png";
    imgname[27] = "/images/28-eb49232c-61c2-11e7-a901-ebf4867570bd.png";
    imgname[28] = "/images/29-eb4955b8-61c2-11e7-a902-0b0d12e5a8f4.png";
    imgname[29] = "/images/30-eb4a1fa2-61c2-11e7-a903-f7eca7a7f055.png";
    imgname[30] = "/images/31-eb4a3b68-61c2-11e7-a904-63fa9e2c47b0.png";
    imgname[31] = "/images/32-eb4a4f9a-61c2-11e7-a905-dbe0daf1a7ce.png";
    imgname[32] = "/images/33-eb4a6a3e-61c2-11e7-a906-9f652af3f189.png";
    imgname[33] = "/images/34-eb4a7fba-61c2-11e7-a907-cb5a4cba0a56.png";
    imgname[34] = "/images/35-eb4a9f40-61c2-11e7-a908-ff06d36f3dcd.png";
    imgname[35] = "/images/36-eb4ab2a0-61c2-11e7-a909-075d9873cefd.png";
    imgname[36] = "/images/37-eb4ac600-61c2-11e7-a90a-c7db722031cf.png";
    imgname[37] = "/images/38-eb4addf2-61c2-11e7-a90b-17d8801a3416.png";
    imgname[38] = "/images/39-eb4af26a-61c2-11e7-a90c-1300b2d20958.png";
    imgname[39] = "/images/40-eb4b0dea-61c2-11e7-a90d-1fb8e62fdf32.png";
    imgname[40] = "/images/41-eb4b2550-61c2-11e7-a90e-2b83f972e68d.png";
    imgname[41] = "/images/42-eb4b3b58-61c2-11e7-a90f-f73233bbb2e0.png";
    imgname[42] = "/images/43-eb4b51ba-61c2-11e7-a910-0746d91b5694.png";
    imgname[43] = "/images/44-eb4c48ea-61c2-11e7-a911-b7d36247c7ba.png";
    imgname[44] = "/images/45-eb4c97c8-61c2-11e7-a912-cfe6b83218f4.png";
    imgname[45] = "/images/46-eb4cb6b8-61c2-11e7-a913-97241579840b.png";
    imgname[46] = "/images/47-eb4ccdb0-61c2-11e7-a914-1b987c8ad9d8.png";
    imgname[47] = "/images/48-eb4ce412-61c2-11e7-a915-d794e6b54cea.png";


    imgname[99] = "/images/clear.png";

    string[] imgdesc = new string[100];

    imgdesc[0] = "Blooper";
    imgdesc[1] = "Seattle";
    imgdesc[2] = "City";
    imgdesc[3] = "Las Vegas";
    imgdesc[4] = "Companion Cube";
    imgdesc[5] = "Game";
    imgdesc[6] = "Computer";
    imgdesc[7] = "Circuit";
    imgdesc[8] = "House";
    imgdesc[9] = "San Francisco";
    imgdesc[10] = "Storm";
    imgdesc[11] = "Stickman";
    imgdesc[12] = "Lightning";
    imgdesc[13] = "Stone";
    imgdesc[14] = "Rain";
    imgdesc[15] = "River";
    imgdesc[16] = "Earth";
    imgdesc[17] = "Air";
    imgdesc[18] = "Fire";
    imgdesc[19] = "Water";
    imgdesc[20] = "Forest";
    imgdesc[21] = "Tree";
    imgdesc[22] = "Life";
    imgdesc[23] = "Sun";
    imgdesc[24] = "Lightbulb";
    imgdesc[25] = "Ice";
    imgdesc[26] = "Alcohol";
    imgdesc[27] = "Fish";
    imgdesc[28] = "Beast";
    imgdesc[29] = "Bear";
    imgdesc[30] = "Cocktail";
    imgdesc[31] = "Man";
    imgdesc[32] = "Human";
    imgdesc[33] = "Otter";
    imgdesc[34] = "Poop";
    imgdesc[35] = "Dark & Stormy";
    imgdesc[36] = "Party";
    imgdesc[37] = "Gay";
    imgdesc[38] = "Woman";
    imgdesc[39] = "Queercon";
    imgdesc[40] = "Hacker";
    imgdesc[41] = "Heart";
    imgdesc[42] = "Coffee";
    imgdesc[43] = "Irish";
    imgdesc[44] = "/images/45-eb4c97c8-61c2-11e7-a912-cfe6b83218f4.png";
    imgdesc[45] = "/images/46-eb4cb6b8-61c2-11e7-a913-97241579840b.png";
    imgdesc[46] = "/images/47-eb4ccdb0-61c2-11e7-a914-1b987c8ad9d8.png";
    imgdesc[47] = "/images/48-eb4ce412-61c2-11e7-a915-d794e6b54cea.png";


    imgdesc[99] = " ";

    string[] img = new string[48];
    string[] desc = new string[48];

    for (int i = 0; i < 48; i++)
    {

        if (showimg[i])
        {

            img[i] = imgname[i];
            desc[i] = imgdesc[i];

        }
        else
        {
            img[i] = imgname[99];
            desc[i] = imgdesc[99];
        }

    }


}

<div class="list-column">
    @for (int i = 0; i < 22; i++)
    {

        <div class="list-row">
            <img class="list-icon" src="@img[i]" />
            @desc[i]
        </div>
    }
</div>

<div class="list-column">
    @for (int i = 22; i < 44; i++)
    {
        <div class="list-row">
            <img class="list-icon" src="@img[i]" />
            @desc[i]
        </div>
    }
</div>

@if (indv)
{

    <table>
        <tr>
            <td>Your Current Icon</td>
            <td><img class="icon" src="@imgname[curr]" /></td>
        </tr>
    </table>

}
        <div>Last Updated: @ViewData["lastseen"] GMT</div>

        <div>@ViewData["Message"]</div>



